* {
  font-family: "Abril Fatface", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #b3bde6, #48418c, #2e0a67);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

.home {
  display: flex;
}
