@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: white;
  background-size: 400% 400%;
}

.login {
  width: 100vw;
  height: 100vh;
  background: rgb(146, 183, 192);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  margin: 2px;
  padding:0 1% 0 1%;
  border-radius: 19px;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: rgb(9, 157, 231);
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 24px;
  margin-left: 5px;
}

.loginBox{
  height: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput{
    height: 50px;
    width: 480px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    margin-right: 5px;
    margin-bottom: 3px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
}

.loginRegisterButton{
  width: 480px;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #23943d;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  padding:2;
}