@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: white;
}

.single {
  display: flex;
}
