@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Poppins:wght@300&display=swap');

*{
  font-family: "Poppins", sans-serif;
}

.top {
  width: 100%;
  height: 100px;
  background: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: top;
  padding: 30px;
  z-index: 999;
  font-family: sans-serif;
  background: white;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.topIcon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  font-size: 25px;
  color: #444;
  cursor: pointer;
  background: white;
  margin-right: 5px;
  padding: 0%;

}

.topCenter {
  flex: 6;
  background: white;
}

.topList {
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: left;
  background: white;
}

.topListItem {
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 300;
  cursor: pointer;
  background: white;
}

.topListItem:hover{
  color: gray;
  text-decoration: underline;
}

.searchBar {
  background: rgb(146, 183, 192);
  color: rgb(45, 44, 43);
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  border: 10px;
  justify-content: center;
  margin-top: -1vh;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 10px;

}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 25px;
  color: rgb(102, 102, 102);
  cursor: pointer;
  background: white;
}

.link {
  margin-right: 20px;
  font-size: 25px;
  font-weight: 300;
  cursor: pointer;
  background: white;
  font-family: "Poppins", sans-serif;
}