@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Poppins:wght@300&display=swap');

*{
  font-family: "Poppins", sans-serif;
  background: #444444;

}

.post {
  width: 385px;
  margin: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #444444;
}

.postImg {
  width: 385px;
  height: 280px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #444444;

}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: #444444;

}

.postCat {
  font-weight: 400;
  font-size: 14px;
  color: #be9656;
  background: none;
  line-height: 19px;
  padding-right: 15px;
  cursor: pointer;
  color: white;
  background: #444444;
}

.postTitle {
  font-size: 24px;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
  color: rgb(67, 134, 242);
  background: #444444;
}

.postDate {
  font-style: italic;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  margin-top: 15px;
  background: #444444;
}

.postDesc {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  margin: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  justify-content: center;
  color: white;
  background: #444444;
}

.linkPost {
  background: none;
  background: #444444;
  color: rgb(79, 244, 92);
}

