@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Poppins:wght@300;600;800&display=swap');

.header {
  margin-top: 60px;
  align-items: space-around;
}

/*.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: rgb(4, 2, 2);
  }*/

.headerImg {
  width: 100vh 100vw;
  height: 400px;
  margin-top: -59px;
  object-fit: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.headerTitleLg {
  background: none;
  color: rgb(9, 157, 231);
  font-weight: 600;
  padding: 0vh 30% 5vh 60%;
  font-size: 4vw;
  align-content:center;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}